.place-list-container .place-card .address, .place-list-container .place-card .description {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.place-list-container .place-card {
  padding: 1rem 0rem 1rem 1rem;
  height: 100px;
  overflow: hidden;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto 2rem auto;
  transition: 0.2s;
  background: white;
  cursor: pointer;
}
.place-list-container .place-card .name {
  color: #888888;
  margin: 0;
}
.place-list-container .place-card .description {
  color: #adadad;
}
.place-list-container .place-card .address {
  color: #adadad;
}
.place-list-container .place-card .place-image {
  height: 80px;
  border-radius: 55px;
  width: 80px;
  margin: auto;
  background-size: cover;
}
.place-list-container .place-card .place-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.place-list-container .place-card:hover {
  background: #fffbec;
  transition: 0.2s;
}
.place-list-container .place-card:hover .edit-delete-option {
  right: 2px;
}
.place-list-container .place-card.expand {
  position: fixed;
  z-index: 50;
  width: 80%;
  max-width: 700px;
  min-height: 400px;
  height: fit-content;
  max-height: 600px;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: initial;
  padding-top: 2rem;
  background: #fffbec;
}
.place-list-container .place-card.expand .name {
  margin-bottom: 2rem;
}
.place-list-container .place-card.expand .description {
  white-space: initial;
  overflow: unset !important;
  text-overflow: unset;
}
.place-list-container .place-card.expand .close {
  position: absolute;
  top: 0px;
  right: 3px;
}
.place-list-container .search-box {
  position: relative;
}
.place-list-container .search-box input {
  background: #fffbec;
}
.place-list-container .search-box .serach-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=place-list.css.map */
