.topbar {
  background: #000000;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 9px 3px #a2a2a2;
  padding: 0.5rem 1rem;
  position: relative;
}
.topbar p {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.topbar .logout {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
.topbar .logout:hover {
  color: #c7c7c7;
  transition: 0.2s;
}

/*# sourceMappingURL=topbar.css.map */
