*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #eaeaea;
}

.margin-left-1rem{
    margin-left: 1rem;
}

.margin-bottom-1rem{
    margin-bottom: 1rem;
}

.margin-right-1rem{
    margin-right: 1rem;
}


.margin-top-1rem{
    margin-top: 1rem;
}


.margin-1rem{
    margin: 1rem;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.modal{
    display: block;
}

textarea {
    resize: none;
 }

 .slate {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
 }

.edit-delete-option{
    position: absolute;
    padding: 0.5rem;
    bottom: 5px;
    right: -200px;
    box-shadow: 1px 1px 3px -1px black;
    border-radius: 7px;
    z-index: 10;
    background: white;
    transition: 0.2s;

    .glyphicon{
        padding: 0.5rem;
        background: white;
        transition: 0.2s;

        &:hover {
            background: #e6e6e6;
        transition: 0.2s;

        }
    }

   
}

.login-container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    .login-form{

    }
    
    .register-form, .login-form{
        position: absolute;
        max-width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.37);
        padding: 2.5rem;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
        button {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}
