@import "theme.scss";

.place-list-container {
  .place-card {
    padding: 1rem 0rem 1rem 1rem;
    // max-width: 600px;
    height: 100px;
    overflow: hidden;
    // background: #f5eaff;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2);
    position: relative;
		margin: 0 auto 2rem auto;
    transition: 0.2s;
		background: white;
		cursor: pointer;
    .name {
			color: #888888;
			margin: 0;
    }
    .description {
			color: #adadad;
			// height: 45px;
			@extend %three-dots;
    }

    .address {
			@extend %three-dots;

			color: #adadad;
			
    }

    .place-image {
			height: 80px;
			border-radius: 55px;
			width: 80px;
			margin: auto;
      background-size: cover;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      background: #fffbec;
	  transition: 0.2s;
		.edit-delete-option{
			right: 2px;;
		}
		}
		
		&.expand{
			position: fixed;
			z-index: 50;
			width: 80%;
			max-width: 700px;
			min-height: 400px;
			height: fit-content;
			max-height: 600px;
			overflow: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			cursor: initial;
			padding-top: 2rem;
			background: #fffbec;

			.name{
				margin-bottom: 2rem;
			}
			.description{
				white-space: initial; 
				overflow: unset !important;
				text-overflow: unset;
			}

			.close{
				position: absolute;
				top: 0px;
				right: 3px;
			}
			
		}
	}
	

	.search-box{
		position: relative;

		input{
			background: #fffbec;
		
			
		}

		.serach-icon{
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);

		}
	}
}
